@{
    ViewBag.Title = "联系方式";
}
<h2>联系方式</h2>

<address>
    湖南省株洲市<br />
     <br />
    <abbr title="Phone">电话:</abbr>
    0731-12345678901
</address>

<address>
    <strong>天猫店铺:</strong>   <a href="四目文具专营店">https://simuwj.tmall.com/shop/view_shop.htm</a> 
</address>