@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>首页</h1>
    <h2>版本更新列表：</h2>
    2019-3-19:
    <ul>
        <li>创建预设样式Name必须唯一，提交订单淘宝订单号必须唯一，如果已经存在要重新提交订单，可以先在订单列表删除已有订单。</li>
        <li>优化图片生成逻辑，图片名优化，每个样式和订单只会生成一张图片。删除样式也会把图片删掉。</li>
    </ul>

    <h2>使用说明：</h2>
    <p>对于纯文字的阴文和阳文，不需要上传背景图，系统会自动加上底色 ！！！</p>
    <p>只有那种有特殊样式的样式才需要上传背景图。</p>
</div>
 