@using Models
@model Models.Sample
@{
    ViewBag.Title = "添加预设样式";
}

<div class="page-header">
    <h1>添加预设样式</h1>
</div>
<form id="itemForm" method="POST" action="Create" enctype="multipart/form-data" class="form-horizontal" role="form">
    <fieldset>
        <div>
            <div class="form-group">
                <label for="Name" class="col-sm-1 control-label">名称</label>
                <input id="Name" type="text" name="Name" class="form-control" required placeholder="样式名称" />
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="ImageType" class="col-sm-4 control-label">印章类型</label>
                    <div class="col-sm-6">
                        <select id="ImageType" name="ImageType" class="dropdown form-control">
                            <option value="2" selected="selected">圆形章</option>
                            <option value="3">方形章</option>
                            <option value="4">扁章</option>
                            <option value="5">闲章</option>
                            <option value="6">儿童印章</option>
                            <option value="7">个性签名章</option>
                            <option value="8">光敏章</option>
                        </select>
                    </div>
                </div> 
                <div class="col-sm-3" id="sizeDiv" hidden="hidden">
                    <label for="Size" class="col-sm-4 control-label">尺寸</label>
                    <div class="col-sm-8">
                        <select id="Size" name="Size" class="dropdown form-control"></select>
                    </div>
                </div>
                <div class="col-sm-3" id="boarderDiv" hidden="hidden">
                    <label for="ImageBoarder" class="col-sm-4 control-label">边框</label>
                    <input id="ImageBoarder" type="text" name="ImageBoarder" class="col-sm-6 form-control" value="56" style="width:100px;" />
                </div>
            </div>
            <div class="form-group">
                <label for="Style" class="col-sm-1 control-label">样式</label>
                <div class="col-sm-2">
                    <select id="Style" name="Style" class="dropdown form-control">
                        <option value="0" selected="selected">阴文</option>
                        <option value="1">阳文</option>
                    </select>
                </div>
                <label for="Font" class="col-sm-1 control-label">字体</label>
                @Html.DropDownList("Font", (List<SelectListItem>)ViewData["FontList"], new { @class = "col-sm-2 form-control" })
            </div>
            <div class="form-group">
                <label for="IfHasBgImage" class="col-sm-1 control-label">背景图</label>
                <div class="col-sm-2">
                    <select id="IfHasBgImage" name="IfHasBgImage" class="dropdown form-control">
                        <option value="0" selected="selected">无背景图</option>
                        <option value="1">有背景图</option>
                    </select>
                </div>
                <div id="uploadDiv" class="col-sm-8">
                    <input type="file" id="file" name="file" class="col-sm-4" />
                    <input type="button" value="上传背景图" onclick="UploadFile(); return false;" class="col-sm-2" />
                    <input id="BgImage" name="BgImage" value="" type="text" hidden="hidden" />
                </div>
            </div>
            <div id="mainTextDiv">
                <div id="mainText1" class="form-group">
                    <label for="Text1" class="col-sm-1 control-label">主文字1</label>
                    <input type="text" id="Text1" name="Text1" class="col-sm-1 form-control" style="width:100px;" required />
                    <label for="FontSize1" class="col-sm-1 control-label">文字大小</label>
                    <input id="FontSize1" type="text" name="FontSize1" class="col-sm-1 form-control" value="100" style="width:100px;" />
                    <label for="PositionX1" class="col-sm-1 control-label">X位置</label>
                    <input id="PositionX1" type="text" name="PositionX1" class="col-sm-1 form-control" value="10" style="width:100px;" />
                    <label for="PositionY1" class="col-sm-1 control-label">Y位置</label>
                    <input id="PositionY1" type="text" name="PositionY1" class="col-sm-1 form-control" value="10" style="width:100px;" />
                    <a id="addmainbtn1" onclick="AddMainText(1); return false;" class="btn btn-link">添加主文字</a>
                </div>
            </div>
            <div id="smallTextDiv">
                <a onclick="ShowSmallText1(); return false;" class="btn btn-link">添加副文字</a>
                <div id="smalltext1" class="form-group">
                    <label for="SmallText1" class="col-sm-1 control-label">副文字</label>
                    <input type="text" name="SmallText1" class="col-sm-1 form-control" style="width:100px;" />
                    <label for="SmallFontSize1" class="col-sm-1 control-label">文字大小</label>
                    <input id="SmallFontSize1" type="text" name="SmallFontSize1" class="col-sm-1 form-control" value="20" style="width:100px;" />
                    <label for="SmallPositionX1" class="col-sm-1 control-label">X位置</label>
                    <input id="SmallPositionX1" type="text" name="SmallPositionX1" class="col-sm-1 form-control" value="10" style="width:100px;" />
                    <label for="SmallPositionY1" class="col-sm-1 control-label">Y位置</label>
                    <input id="SmallPositionY1" type="text" name="SmallPositionY1" class="col-sm-1 form-control" value="10" style="width:100px;" />
                    <label for="SmallFontOrder1" class="col-sm-1 control-label">文字顺序: </label>
                    <select id="SmallFontOrder1" name="SmallFontOrder1" class="col-sm-1 form-control" style="width:120px;">
                        <option value="1" selected="selected">从左往右</option>
                        <option value="0">从右往左</option>
                    </select>
                    <input id="del_smallText1" type="button" value="删除" class="btn" onclick="HideSmallText1(1);" />
                    <a id="addsmallbtn1" onclick="AddSmallText(1); return false;" class="btn btn-link">添加副文字</a>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="生产预览图" onclick="CreateImage(); return false;" class="btn" />
            </div>
            <div class="form-group">
                <div style="width:198px;">
                    <input id="ImageUrl" name="ImageUrl" value="" type="text" hidden="hidden" />
                    <img id="sampleimage" src="" style="width:198px; border: 1px solid #dddddd;" hidden="hidden" />
                </div>
            </div>
        </div>

        <label style="color:red">@ViewBag.Message</label>
        <div class="form-group">
            <input type="submit" name="type" value="保存" class="btn btn-block" />
        </div>
    </fieldset>
</form>

<script src="~/Scripts/jquery.form.min.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () { 
        $("#smalltext1").hide();
        $("#uploadDiv").hide();
        $("#IfHasBgImage").change(function () {
            if ($("#IfHasBgImage").val() == "1") {
                $("#uploadDiv").show()
            }
            else {
                $("#uploadDiv").hide()
            }
        });

        //改变默认文字位置。
        $("#ImageType").change(function () {
            $("#uploadDiv").hide();
            $("#sizeDiv").hide();
            $("#boarderDiv").hide();
            var type = $("#ImageType").val();
            if (type == "2") {  //圆形章
                
            }
            else if (type == "3") //方章
            {
                
            }
            else if (type == "6") { //儿童印章 
                $("#IfHasBgImage").val(1);
                $("#uploadDiv").show();    //儿童印章默认要上传背景图。
            }
            else if (type == "4") { //扁章
                $("#sizeDiv").show();
                AddBianzhangSize();
                $("#boarderDiv").show();//显示边框
            }
            else if (type == "7") { //个性签名章
              
            }
            else if (type == "8") { //光敏章
                $("#Style").val(1); //光敏章只有阳文 
                $("#sizeDiv").show(); //显示尺寸
                AddGuangminSize();
                $("#boarderDiv").show();//显示边框
            }
        }); 
    });
    function AddBianzhangSize() {
        $("#Size").empty();
        $("#Size").prepend("<option value='165*71' selected='selected'>6 * 14mm</option>");
        $("#Size").prepend("<option value='142*72'>4 * 12mm");
        $("#Size").prepend("<option value='177*94'>8 * 15mm");
        $("#Size").prepend("<option value='154*59'>5 * 13mm");
        $("#Size").prepend("<option value='165*94'>8 * 14mm"); 
    }
    function AddGuangminSize() {
        $("#Size").empty();  
        $("#Size").prepend("<option value='413*118' selected='selected'>10 * 35mm</option>");
        $("#Size").prepend("<option value='591*118'>10 * 50mm</option>");
        $("#Size").prepend("<option value='78*189'>16 * 32mm</option>");
        $("#Size").prepend("<option value='354*236'>20 * 30mm</option>");
        $("#Size").prepend("<option value='472*236'>20 * 40mm</option>");
        $("#Size").prepend("<option value='591*236'>20 * 50mm</option>");
        $("#Size").prepend("<option value='827*177'>15 * 70mm</option>");
        $("#Size").prepend("<option value='768*295'>25 * 65mm</option>");
        $("#Size").prepend("<option value='591*295'>25 * 50mm</option>");
        $("#Size").prepend("<option value='591*354'>30 * 50mm</option>");
        $("#Size").prepend("<option value='709*354'>30 * 60mm</option>");
        $("#Size").prepend("<option value='827*236'>20 * 70mm</option>");
        $("#Size").prepend("<option value='886*413'>35 * 75mm</option>");
        $("#Size").prepend("<option value='945*591'>50 * 80mm</option>");
        $("#Size").prepend("<option value='1240*413'>35 * 105mm</option>");
        $("#Size").prepend("<option value='1063*709'>60 * 90mm</option>");
        $("#Size").prepend("<option value='236*236'>20 * 20mm</option>");
        $("#Size").prepend("<option value='295*295'>25 * 25mm</option>");
        $("#Size").prepend("<option value='768*531'>45 * 65mm</option>");
        $("#Size").prepend("<option value='1240*945'>80 * 105mm</option>");
    }

    function AddMainText(preindex) {
        var aa = "addmainbtn" + preindex;
        var bb = "del_mainText" + preindex;
        $("#" + aa).hide();
        $("#" + bb).hide();
        var domIndex = "mainTextDiv";
        var index = preindex + 1;
        var nextindex = index + 1;
        $("#" + domIndex).append("<div id='mainText" + index + "' class='form-group'>" +
            "<label for='Text" + index + "' class='col-sm-1 control-label'>主文字" + index + "</label>" +
            "<input type='text' name='Text" + index + "' class='col-sm-1 form-control' style='width:100px;'/>" +
            "<label for='FontSize" + index + "' class='col-sm-1 control-label'>文字大小</label>" +
            "<input id='FontSize" + index + "' type='text' name='FontSize" + index + "' class='col-sm-1 form-control' value='100' style='width:100px;'/>" +
            "<label for='PositionX" + index + "' class='col-sm-1 control-label'>X位置</label>" +
            "<input id='PositionX" + index + "' type='text' name='PositionX" + index + "' class='col-sm-1 form-control' value='10' style='width:100px;'/>" +
            "<label for='PositionY" + index + "' class='col-sm-1 control-label'>Y位置</label>" +
            "<input id='PositionY" + index + "' type='text' name='PositionY" + index + "' class='col-sm-1 form-control' value='10' style='width:100px;'/>" +
            "<input id='del_mainText" + index + "' type='button' value='删除' class='btn' onclick='DeleteText(" + index + ");'/>" +
            "<a id='addmainbtn" + index + "' onclick='AddMainText(" + index + "); return false;' class='btn btn-link'>添加主文字</a>" +
            "</div>");
    }

    function DeleteText(index) {
        var preindex = index - 1;
        var aa = "addmainbtn" + preindex;
        var bb = "del_mainText" + preindex;
        $("#" + aa).show();
        $("#" + bb).show();
        var cc = "mainText" + index;
        $("#" + cc).remove();
    }

    function AddSmallText(preindex) {
        var aa = "addsmallbtn" + preindex;
        var bb = "del_smallText" + preindex;
        $("#" + aa).hide();
        $("#" + bb).hide();
        var domIndex = "smallTextDiv";
        var index = preindex + 1;
        var nextindex = index + 1;
        $("#" + domIndex).append("<div id='smallText" + index + "' class='form-group'>" +
            "<label for='SmallText" + index + "' class='col-sm-1 control-label'>副文字" + index + "</label>" +
            "<input type='text' name='SmallText" + index + "' class='col-sm-1 form-control' style='width:100px;'/>" +
            "<label for='SmallFontSize" + index + "' class='col-sm-1 control-label'>文字大小</label>" +
            "<input id='SmallFontSize" + index + "' type='text' name='SmallFontSize" + index + "' class='col-sm-1 form-control' value='20' style='width:100px;'/>" +
            "<label for='SmallPositionX" + index + "' class='col-sm-1 control-label'>X位置</label>" +
            "<input id='SmallPositionX" + index + "' type='text' name='SmallPositionX" + index + "' class='col-sm-1 form-control' value='10' style='width:100px;'/>" +
            "<label for='SmallPositionY" + index + "' class='col-sm-1 control-label'>Y位置</label>" +
            "<input id='SmallPositionY" + index + "' type='text' name='SmallPositionY" + index + "' class='col-sm-1 form-control' value='10' style='width:100px;'/>" +
            "<label for='SmallFontOrder" + index + "' class='col-sm-1 control-label'>文字顺序: </label>"+
            "<select id='SmallFontOrder" + index + "' name='SmallFontOrder" + index + "' class='col-sm-1 form-control' style='width:120px;'>"+
            "<option value='1' selected='selected'>从左往右</option>"+
            "<option value='0'>从右往左</option>"+
            "</select>"+
            "<input id='del_smallText" + index + "' type='button' value='删除' class='btn' onclick='DeleteSmallText(" + index + ");'/>" +
            "<a id='addsmallbtn" + index + "' onclick='AddSmallText(" + index + "); return false;' class='btn btn-link'>添加副文字</a>" +
            "</div>");
    }
     
    function DeleteSmallText(index) {
        var preindex = index - 1;
        var aa = "addsmallbtn" + preindex;
        var bb = "del_smallText" + preindex;
        $("#" + aa).show();
        $("#" + bb).show();
        var cc = "smallText" + index;
        $("#" + cc).remove();
    }

    function ShowSmallText1() {
        $("#smalltext1").show();
    }
    function HideSmallText1() {
        $("#smalltext1").hide();
    }
    function CreateImage() {
        var name = $("#Name").val();
        var text1 = $("#Text1").val();
        if (name == "" || name == null) {
            alert("请先输入样式名称！");
            return;
        }

        var formData = new FormData($("#itemForm")[0]);
        $.ajax({
            dataType: "json",
            type: "post",
            url: '/sample/Create?type=CreateImage',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status == "Fail") {
                    alert(data.message);
                }
                else {
                    $("#ImageUrl").val(data);
                    $("#sampleimage").attr('src', "\\UploadFiles\\SampleImgs\\" + data + "?t=" + Math.random());
                    $("#sampleimage").show();
                }
            },
            error: function (response, ajaxOptions, thrownError) {
                alert("生成图片发生错误");
            }
        });
    }
    function UploadFile() {
        var file = $("#file").val();
        if (file == "") {
            alert("请先选择文件！");
            return;
        }
        var formData = new FormData($("#itemForm")[0]);
        $.ajax({
            dataType: "json",
            type: "post",
            url: '/sample/Create?type=UploadFile',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status == "Fail") {
                    alert(data.message);
                } else {
                    $("#BgImage").val(data);
                    alert("背景图片上传成功");
                }
            },
            error: function (response, ajaxOptions, thrownError) {
                alert("上传失败：" + response.message);
            }
        });
    }
</script>