
@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadFile</h2>
<form id="form1" method="post" action="@Url.Action("UploadFile","FileUpload")" enctype="multipart/form-data">
    <label for="ImageType">名称</label>
    <input type="text" name="Name" />
    <input type="file" name="file" />
    <input type="submit" value="提交" />
</form>