
@{
    ViewBag.Title = "添加字体";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#uploadDiv").hide();
        $("#ifSystem").change(function () {
            if ($("#ifSystem").val() == "0") {
                $("#uploadDiv").show()
            }
            else {
                $("#uploadDiv").hide()
            }
        });
    });

    function UploadFile() {
            var formData = new FormData($("#itemForm")[0]);
            $.ajax({
                type: "post",
                url: '/ImageFont/UploadFile?type=UploadFile',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    $("#imageFont").val(data);
                    alert("字体文件上传成功");
                },
                error: function (response, ajaxOptions, thrownError) {
                    alert("字体文件上传发生错误");
                }
            });
        }
</script>
<h2>添加字体</h2>
<form id="itemForm" method="post" action="@Url.Action("UploadFile","ImageFont")" enctype="multipart/form-data">
    <label>名称</label>
    <input type="text" name="Name" />
    <br />
    <label>是否为系统字体</label>

    <select id="ifSystem" name="ifSystem">
        <option value="1" selected="selected">系统字段</option>
        <option value="0">非系统字段</option>
    </select> 
    <br />
    <div id="uploadDiv">
        <input id="" type="file" name="file" />
        <input type="button" value="上传字体文件" onclick="UploadFile(); return false;" />
    </div>
        <input id="imageFont" name="imageFont" value="" type="text" hidden="hidden" />
        <br />
        <input type="submit" value="提交" />
</form>