
@{
    ViewBag.Title = "添加字体";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>添加字体</h1> 
</div>
<form id="itemForm" method="post" action="@Url.Action("UploadFile","ImageFont")" enctype="multipart/form-data" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="Name" class="control-label col-sm-1">名称</label>
        <input type="text" name="Name" class="form-control"  required placeholder="字体名称"/>
    </div>
    <div class="form-group">
        <label for="ifSystem" class="control-label col-sm-1">系统字体</label>
        <select id="ifSystem" name="ifSystem" class="form-control">
            <option value="1" selected="selected">系统字段</option>
            <option value="0">非系统字段</option>
        </select>
    </div>
    <div id="uploadDiv" class="form-group">
        <input type="file" id="file" name="file" class="col-sm-3" />
        <input type="button" value="上传字体文件" onclick="UploadFile(); return false;" class="btn col-sm-2" />
        <input id="imageFont" name="imageFont" value="" type="text" hidden="hidden" />
    </div>
    <div class="form-group">
        <input type="submit" value="提交"  class="btn"/>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#uploadDiv").hide();
        $("#ifSystem").change(function () {
            if ($("#ifSystem").val() == "0") {
                $("#uploadDiv").show()
            }
            else {
                $("#uploadDiv").hide()
            }
        });
    });

    function UploadFile() {
        var file = $("#file").val();
        if (file == "") {
            alert("请先选择文件！");
            return;
        }
        
        var formData = new FormData($("#itemForm")[0]);
        $.ajax({
            type: "post",
            url: '/ImageFont/UploadFile?type=UploadFile',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                $("#imageFont").val(data);
                alert("字体文件上传成功");
            },
            error: function (response, ajaxOptions, thrownError) {
                alert("字体文件上传发生错误");
            }
        });
    }
</script>