@{
    ViewBag.Title = "创建新用户";
}

<div class="page-header">
    <h1>创建新用户</h1>
</div>

<form method="POST" action="Create" class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label for="Name" class="col-sm-1 control-label">姓名</label>
            <input id="Name" name="Name" type="text" value="" class="form-control" placeholder="展示的名字" required="required" />
        </div>
        <div class="form-group">
            <label for="Name" class="col-sm-1 control-label">登录名</label>
            <input id="LoginName" name="LoginName" type="text" value="" class="form-control" placeholder="登录时的名字" required="required">
        </div>
        <div class="form-group">
            <label for="Role" class="col-sm-1 control-label">角色</label>
            <select id="Role" name="Role" class="form-control">
                <option value="管理员" selected="selected">管理员</option>
                <option value="客服">客服</option>
                <option value="生产员">生产员</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-1 control-label">密码</label>
            <input id="Password" name="Password" type="password" required="required" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-1 control-label">确认密码</label>
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" required="required" class="form-control" />
        </div> 
        <div class="form-group">
            <span class="col-sm-1"></span>
            <button type="submit" class="btn col-sm-1">创建</button>
            <a href="@Url.Action("Index","User")" class="btn btn-link col-sm-1">取消</a>
        </div>
        <div class="form-group">
            <label style="color:red">@ViewBag.Message</label>
        </div>
    </fieldset>
</form>
